*{

  font-family: 'Frank Ruhl Libre', serif;
}


header {
 background-color: black;
 
}

.contenedor
{
  display: flex;
  align-content: flex-end;
    

}

header nav a{
  color: white;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
}

header nav a:hover{
  color: tomato;
  text-decoration:solid;   
}


.pie{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center ;
  background-color: black;
  color: white;
  height: 100px;
  width: 100%;
}


header nav a:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: all .8s;
  }

header nav a:hover:after {
  width: 100%;
  background: tomato;
  }



.pie{
  display:inline-flex;
  flex-direction: row;
  align-content: flex-end;

}







footer i{
    color: white;
 
}

footer i:hover{
    color: tomato;
}


.container {  display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    gap: 20px 40px;
    grid-auto-flow: row;
    grid-template-areas:
      "descripcion1 Area-1 "
      "descripcion2 Area-2 "
      "descripcion3 Area-3 "
      "descripcion4 Area-4 ";
      text-align: justify;
  }
  
  .Area-1 { grid-area: Area-1; }
  
  .descripcion1 { grid-area: descripcion1; }
  
  .Area-2 { grid-area: Area-2; }
  
  .descripcion2 { grid-area: descripcion2; }
  
  .Area-3 { grid-area: Area-3; }
  
  .descripcion3 { grid-area: descripcion3; }
  
  .Area-4 { grid-area: Area-4; }
  
  .descripcion4 { grid-area: descripcion4; }
  
  .descripcion1, .descripcion2, .descripcion3, .descripcion4{
    
     padding-top: 100px;
    /*font-family:fantasy, Arial, Helvetica, sans-serif;
    font-size:1.0em;
    vertical-align:middle;*/
    font-weight:normal;
    /*text-transform:uppercase;
    font-weight: bold; 
    font-style: italic;*/
  }
  

  .text-justify {
    text-align: justify;
  }

  .img {
    box-sizing:border-box;
    display:block;
    width:400px;        /*Ancho de la imagen*/
    height:200px;       /*Alto de la imagen */
    
  }
  
  .institucional {  display: grid;
    margin: 50px 400px;
    grid-template-columns: 2fr 3fr ;
    grid-template-rows: 2fr 2fr 2fr ;
    gap: 40px 50px;
    /*grid-auto-flow: row;*/
    grid-template-areas:
      "quienessomos-descripcion quienessomos-imagen "
      "mision-descripcion mision-imagen "
      "vision-descripcion vision-imagen ";
      text-align: justify;
  }


.quienessomos-descripcion { grid-area: quienessomos-descripcion;}

.quienessomos-imagen { grid-area: quienessomos-imagen; }

.mision-descripcion { grid-area: mision-descripcion; }

.mision-imagen { grid-area: mision-imagen; }

.vision-descripcion { grid-area: vision-descripcion; }

.vision-imagen { grid-area: vision-imagen; }

.quienessomos-descripcion, .mision-descripcion, .vision-descripcion{
  /*font-family:fantasy, Arial, Helvetica, sans-serif;
  font-size:1.0em;*/
  vertical-align:middle;
  /*font-weight:normal;
  text-transform:uppercase;
  font-weight: bold; 
  font-style: italic;*/
}

.suplementos {  
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr ;
  gap: 10px 15px;
  grid-auto-flow: column;
  grid-template-areas:
    "proteina-descripcion proteina-imagen" 
    
    "hidrato-descripcion hidrato-imagen"
    
    "creatina-descripcion creatina-imagen"
    
    "magnesio-descripcion magnesio-imagen"
    
    "aminoacidos-descripcion aminoacidos-imagen"
    
    "cafeina-descripcion cafeina-imagen";
    text-align: justify;
  margin: 5%  20%;
  /*padding: 10% 50px */
}

.proteina-descripcion { grid-area: proteina-descripcion; }

.proteina-imagen { grid-area: proteina-imagen; }

.hidrato-descripcion { grid-area: hidrato-descripcion; }

.hidrato-imagen { grid-area: hidrato-imagen; }

.creatina-descripcion { grid-area: creatina-descripcion; }

.creatina-imagen { grid-area: creatina-imagen; }

.magnesio-descripcion { grid-area: magnesio-descripcion; }

.magnesio-imagen { grid-area: magnesio-imagen; }

.aminoacidos-descripcion { grid-area: aminoacidos-descripcion;}
.aminoacidos-imagen{ grid-area: aminoacidos-imagen; }

.cafeina-descripcion { grid-area: cafeina-descripcion; }
.cafeina-imagen { grid-area: cafeina-imagen; }

.proteina-descripcion,.proteina-imagen,.hidrato-descripcion,.hidrato-imagen,
.creatina-descripcion,.creatina-imagen,.magnesio-descripcion,.magnesio-imagen,
.aminoacidos-descripcion,.aminoacidos-imagen,.cafeina-descripcion,.cafeina-imagen{
 /* margin: 5%;*/
 /*padding: 20px;*/

}

.proteina-descripcion,.proteina-imagen,.hidrato-descripcion,.hidrato-imagen,
.creatina-descripcion,.creatina-imagen,.magnesio-descripcion,.magnesio-imagen,
.aminoacidos-descripcion,.aminoacidos-imagen,.cafeina-descripcion,.cafeina-imagen{
 /* margin: 5%;*/

 
}




.proteina-imagen,.hidrato-imagen,.creatina-imagen,.magnesio-imagen,.aminoacidos-imagen,.cafeina-imagen{
  padding: 20%;
}

.staff {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2fr, 1fr, 2fr,1fr);
  /*gap: 10px 10px;*/
  grid-auto-flow:column;
  grid-template-areas: 
    "coach1-imagen        coach2-imagen        coach3-imagen        coach4-imagen "
    "coach1-descripcion   coach2-descripcion   coach3-descripcion   coach4-descripcion "
    "coach5-imagen        coach6-imagen          coach7-imagen        coach8-imagen "
    "coach5-descripcion   coach6-descripcion     coach7-descripcion   coach8-descripcion ";
    text-align: justify;
}

.coach1-imagen { grid-area: coach1-imagen; }

.coach1-descripcion { grid-area: coach1-descripcion; }

.coach2-imagen { grid-area: coach2-imagen; }

.coach2-descripcion { grid-area: coach2-descripcion; }

.coach3-imagen { grid-area: coach3-imagen; }

.coach3-descripcion { grid-area: coach3-descripcion; }

.coach4-imagen { grid-area: coach4-imagen; }

.coach4-descripcion { grid-area: coach4-descripcion; }

.coach5-imagen { grid-area: coach5-imagen; }

.coach5-descripcion { grid-area: coach5-descripcion; }
  
.coach6-imagen { grid-area: coach6-imagen; }

.coach6-descripcion { grid-area: coach6-descripcion; }

.coach7-imagen { grid-area: coach7-imagen; }

.coach7-descripcion { grid-area: coach7-descripcion; }

.coach8-imagen { grid-area: coach8-imagen; }

.coach8-descripcion { grid-area: coach8-descripcion; }


.coach1-descripcion,.coach2-descripcion,.coach3-descripcion,.coach4-descripcion,
.coach5-descripcion, .coach6-descripcion ,.coach7-descripcion, .coach8-descripcion {
  width: 300px;
  text-align: center;
}

.coach1-imagen, .coach2-imagen, .coach3-imagen, .coach4-imagen,
.coach1-imagen, .coach2-imagen, .coach3-imagen, .coach4-imagen {

  background-color: antiquewhite;
  width: 30px;
}
