*{

  font-family: 'Frank Ruhl Libre', serif;
}

body{
  margin: 0px;

}

header {
 background-color: black;
 width: 100%;
 margin: 0px;
 height: 80px;
 
}

.contenedor{
  display: flex;
  align-items:  flex-end;
  justify-content: space-between;
  margin: 0px;
    

}

header nav a{
  color: white;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
}

header nav a:hover{
  color: tomato;
  text-decoration:solid;   
}


.pie{
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: black;
  color: white;
  height: 5vw;
}


header nav a:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: all .8s;
  }

  
header nav a:hover:after {
  width: 100%;
  background: tomato;
  }

  footer{
    margin: 0px;
  }
footer i{
    color: white;
 
}

footer i:hover{
    color: tomato;
}

.contacto{
  display:flex ;
  align-items: center;
  justify-content:center;
  flex-flow: row;
  margin-top: 10px;
  margin-bottom: 230px;sta
  
}

.formulario {
  padding: 40px;
  /*background-color: tomato;*/
  width: 700px;

}

.formulario input{
  border: 1px solid gainsboro;
  width: 600px;
  height: 50px;
  margin-bottom: 10px; 
  

}
.formulario textarea{
  border: 1px solid gainsboro;
  width: 600px;
  height: 100px;
  margin-bottom: 10px; 

}

.submit :hover{
  background-color: rgba(white, 0, 0, 0.5);
}

.contacto .mapa{
  align-self: center;
  border: 10px solid gainsboro;
  /*width: 50%;*/

}

/***********Animacion**************/

@-webkit-keyframes swing
{
15%
{
-webkit-transform: translateX(5px);
transform: translateX(5px);
}
30%
{
-webkit-transform: translateX(-5px);
transform: translateX(-5px);
}
50%
{
-webkit-transform: translateX(3px);
transform: translateX(3px);
}
65%
{
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}
80%
{
-webkit-transform: translateX(2px);
transform: translateX(2px);
}
100%
{
-webkit-transform: translateX(0);
transform: translateX(0);
}
}
@keyframes swing
{
15%
{
-webkit-transform: translateX(5px);
transform: translateX(5px);
}
30%
{
-webkit-transform: translateX(-5px);
transform: translateX(-5px);
}
50%
{
-webkit-transform: translateX(3px);
transform: translateX(3px);
}
65%
{
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}
80%
{
-webkit-transform: translateX(2px);
transform: translateX(2px);
}
100%
{
-webkit-transform: translateX(0);
transform: translateX(0);
}
}


.swing:hover
{
-webkit-animation: swing 1s ease;
animation: swing 1s ease;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
}
/**********************************/



.container {  display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    gap: 20px 40px;
    grid-auto-flow: row;
    grid-template-areas:
      "descripcion1 Area-1 "
      "descripcion2 Area-2 "
      "descripcion3 Area-3 "
      "descripcion4 Area-4 ";
      text-align: justify;
  }
  
  .Area-1 { grid-area: Area-1; }
  
  .descripcion1 { grid-area: descripcion1; }
  
  .Area-2 { grid-area: Area-2; }
  
  .descripcion2 { grid-area: descripcion2; }
  
  .Area-3 { grid-area: Area-3; }
  
  .descripcion3 { grid-area: descripcion3; }
  
  .Area-4 { grid-area: Area-4; }
  
  .descripcion4 { grid-area: descripcion4; }
  
  .descripcion1, .descripcion2, .descripcion3, .descripcion4{
    
     padding-top: 100px;
    /*font-family:fantasy, Arial, Helvetica, sans-serif;
    font-size:1.0em;
    vertical-align:middle;*/
    font-weight:normal;
    /*text-transform:uppercase;
    font-weight: bold; 
    font-style: italic;*/
  }
  

  .text-justify {
    text-align: justify;
  }

  .img {
    box-sizing:border-box;
    display:block;
    width:400px;        /*Ancho de la imagen*/
    height:200px;       /*Alto de la imagen */
    
  }
  
  .institucional {  display: grid;
    margin: 50px 400px;
    grid-template-columns: 2fr 3fr ;
    grid-template-rows: 2fr 2fr 2fr ;
    gap: 40px 50px;
    /*grid-auto-flow: row;*/
    grid-template-areas:
      "quienessomos-descripcion quienessomos-imagen "
      "mision-descripcion mision-imagen "
      "vision-descripcion vision-imagen ";
      text-align: justify;
  }


.quienessomos-descripcion { grid-area: quienessomos-descripcion;}

.quienessomos-imagen { grid-area: quienessomos-imagen; }

.mision-descripcion { grid-area: mision-descripcion; }

.mision-imagen { grid-area: mision-imagen; }

.vision-descripcion { grid-area: vision-descripcion; }

.vision-imagen { grid-area: vision-imagen; }

.quienessomos-descripcion, .mision-descripcion, .vision-descripcion{
  vertical-align:middle;
  
}







.suplementos {  
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr ;
  gap: 10px 15px;
  grid-auto-flow: column;
  grid-template-areas:
    "proteina-descripcion proteina-imagen" 
    
    "hidrato-descripcion hidrato-imagen"
    
    "creatina-descripcion creatina-imagen"
    
    "magnesio-descripcion magnesio-imagen"
    
    "aminoacidos-descripcion aminoacidos-imagen"
    
    "cafeina-descripcion cafeina-imagen";
    text-align: justify;
  margin: 5%  20%;
  /*padding: 10% 50px */
}

.proteina-descripcion { grid-area: proteina-descripcion; }

.proteina-imagen { grid-area: proteina-imagen; }

.hidrato-descripcion { grid-area: hidrato-descripcion; }

.hidrato-imagen { grid-area: hidrato-imagen; }

.creatina-descripcion { grid-area: creatina-descripcion; }

.creatina-imagen { grid-area: creatina-imagen; }

.magnesio-descripcion { grid-area: magnesio-descripcion; }

.magnesio-imagen { grid-area: magnesio-imagen; }

.aminoacidos-descripcion { grid-area: aminoacidos-descripcion;}
.aminoacidos-imagen{ grid-area: aminoacidos-imagen; }

.cafeina-descripcion { grid-area: cafeina-descripcion; }
.cafeina-imagen { grid-area: cafeina-imagen; }





.proteina-imagen,.hidrato-imagen,.creatina-imagen,.magnesio-imagen,.aminoacidos-imagen,.cafeina-imagen{
  padding: 20%;
}

.staff {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr 1fr 2fr 1fr;
  /*gap: 10px 10px;*/
  grid-auto-flow:column;
  margin: 25px 10px 25px 100px;
  grid-template-areas: 
    "coach1-imagen        coach2-imagen        coach3-imagen        coach4-imagen "
    "coach1-descripcion   coach2-descripcion   coach3-descripcion   coach4-descripcion "
    "coach5-imagen        coach6-imagen          coach7-imagen        coach8-imagen "
    "coach5-descripcion   coach6-descripcion     coach7-descripcion   coach8-descripcion ";
     margin-left: 140px;
     align-content: space-between
    
}

.coach1-imagen { grid-area: coach1-imagen; }

.coach1-descripcion { grid-area: coach1-descripcion; }

.coach2-imagen { grid-area: coach2-imagen; }

.coach2-descripcion { grid-area: coach2-descripcion; }

.coach3-imagen { grid-area: coach3-imagen; }

.coach3-descripcion { grid-area: coach3-descripcion; }

.coach4-imagen { grid-area: coach4-imagen; }

.coach4-descripcion { grid-area: coach4-descripcion; }

.coach5-imagen { grid-area: coach5-imagen; }

.coach5-descripcion { grid-area: coach5-descripcion; }
  
.coach6-imagen { grid-area: coach6-imagen; }

.coach6-descripcion { grid-area: coach6-descripcion; }

.coach7-imagen { grid-area: coach7-imagen; }

.coach7-descripcion { grid-area: coach7-descripcion; }

.coach8-imagen { grid-area: coach8-imagen; }

.coach8-descripcion { grid-area: coach8-descripcion; }


.coach1-descripcion,.coach2-descripcion,.coach3-descripcion,.coach4-descripcion,
.coach5-descripcion, .coach6-descripcion ,.coach7-descripcion, .coach8-descripcion {
  width: 300px;
  text-align: center;
}


/*----------------------------------------------------------------*/
/* Punto de corte para pantallas tipo laptops/desktops            */
/*----------------------------------------------------------------*/
@media only screen and (max-width: 1000px) {
  .staff {

      /*gap : 10px;*/
      grid-template-rows: 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr /300px 300px 300px  ; 
      
      
      

      /* Distribuimos el contenido en cada fila */
      grid-template-areas: 
      "coach1-imagen       coach2-imagen         coach3-imagen           "
      "coach1-descripcion  coach2-descripcion    coach3-descripcion      "
      "coach4-imagen       coach5-imagen         coach6-imagen           "
      "coach4-descripcion  coach5-descripcion    coach6-descripcion      "
      "coach7-imagen       coach8-imagen             coach8-imagen                    "
      "coach7-descripcion  coach8-descripcion       coach8-descripcion                     ";
      
      text-align: center;
      align-items: center;
      margin-right: 5px;
      margin-left: 20px;
      height: auto;      
  }

  .coach1-descripcion,.coach2-descripcion,.coach3-descripcion,.coach4-descripcion,
  .coach5-descripcion, .coach6-descripcion ,.coach7-descripcion, .coach8-descripcion {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 130px;
    height: auto;
    width: 50px;
  }
 .coach1-imagen,.coach2-imagen,.coach3-imagen,.coach4-imagen,
.coach5-imagen, .coach6-imagen ,.coach7-imagen, .coach8-imagen {
  /*margin-bottom: 100px;*/
  /*width: 300px;*/
    margin: 5px;
  /* height: 10px;*/
  
}


.coach1-descripcion,.coach2-descripcion,.coach3-descripcion,.coach4-descripcion,
  .coach5-descripcion, .coach6-descripcion ,.coach7-descripcion, .coach8-descripcion {
  
  margin-bottom: 0px; 
  margin-top: 0px;
 margin-left: 50px;
  width: 100px;

}

.coach1-descripcion,.coach2-descripcion,.coach3-descripcion,.coach4-descripcion,
  .coach5-descripcion, .coach6-descripcion ,.coach7-descripcion, .coach8-descripcion h5{
  
    text-align:center;
  margin-right: 0px;  
  margin-bottom: 0px; 
  margin-top: 0px;
  width: 200px;

}


}







/*----------------------------------------------------------------*/
/* Punto de corte para pantallas tipo tablet                      */
/*----------------------------------------------------------------*/
@media only screen and (max-width: 850px) {
  .staff {
      gap: 30px;
      grid-template: 450px 50px 450px 50px 450px 50px 450px 50px/ 50% 50%; 

      /* Distribuimos el contenido en cada fila */
      grid-template-areas: 
      "coach1-imagen       coach2-imagen"
      "coach1-descripcion  coach2-descripcion"
      "coach3-imagen       coach4-imagen"
      "coach3-descripcion  coach4-descripcion"
      "coach5-imagen       coach6-imagen"
      "coach5-descripcion  coach6-descripcion"
      "coach7-imagen       coach8-imagen"
      "coach7-descripcion  coach8-descripcion";
  }
        .coach1-descripcion,.coach2-descripcion,.coach3-descripcion,.coach4-descripcion,
        .coach5-descripcion, .coach6-descripcion ,.coach7-descripcion, .coach8-descripcion {
          margin-left: 100px;
        }        header .contenedor .img {
          width: 40%;
        }


}



/*----------------------------------------------------------------*/
/* Punto de corte para pantallas tipo celular                     */
/*----------------------------------------------------------------*/
@media only screen and (max-width: 650px) {
  
  .staff {
    gap: 30px;
        grid-template: 450px 50px 450px 50px 450px 50px 450px 50px 450px 50px 450px 50px 450px 50px 450px 50px/ 100%; 
        grid-template-areas: 
        "coach1-imagen        "
        "coach1-descripcion   "
        "coach2-imagen        "
        "coach2-descripcion   "
        "coach3-imagen        "
        "coach3-descripcion   "
        "coach4-imagen        "
        "coach4-descripcion   "
        "coach5-imagen        "
        "coach5-descripcion   "
        "coach6-imagen        "
        "coach6-descripcion   "
        "coach7-imagen        "
        "coach7-descripcion   "
        "coach8-imagen        "
        "coach8-descripcion   ";
        /*text-align: center;
        align-items: center;*/
        





      }
      .pie{
        display: flex;
        align-items:flex-start;
        justify-content:space-between;
        background-color: black;
        color: white;
        height: 8vw;
        width:100% ;
        font-size: 2vw;
      }  

      .coach1-descripcion,.coach2-descripcion,.coach3-descripcion,.coach4-descripcion,
      .coach5-descripcion, .coach6-descripcion ,.coach7-descripcion, .coach8-descripcion {
        margin-left: 220px;
      }
      
      
      header nav a {
        width: 20vw;
        font-size: 2vw;
        }


      }












